<ul class="container list-group mb-4" id="menu-bar">
        <li class="list-group-item"><a href="index.html">Home</a></li>
        <li class="list-group-item"><a href="about.html">About</a></li>
        <li class="list-group-item"><a href="menu.html">Menu</a></li>
        <li class="list-group-item"><a href="/">Contact</a></li>
    </ul>
<h1 class="text-center mb-3">{{title}}</h1>
<form action="/api/members" method="POST" class="mb-4">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" name="name" class="form-control">
        <label for="email">Email</label>
        <input type="email" name="email" class="form-control">
    </div>
    <input type="submit" value="Add Contact" class="btn btn-primary btn-block">
</form>
<h4>Contacts</h4>
<ul class="list-group">
    {{#each members}}
    <li class="list-group-item">{{this.name}}: {{this.email}}</li>
    {{/each}}
</ul>
<a href="api/members" class="btn btn-light mt-4">Visit API</a>